body {
    font-family: Calibri, "Segoe UI", "Carlito", Roboto, Arial, sans-serif;
}

fieldset {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
}

legend {
    font-size: 25px;
}

#startbutton {
    margin: 5px;
}

.startcontainer, .appcontainer, .rescontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
}

#warntext {
    display: none;
    color: red;
}

.header {
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
}

input[type="checkbox"]:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

#random20 {
    margin-top: 10px;
}

.biggertext {
    font-size: 30px;
    font-weight: 600;
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
}

#questioninput {
    margin: 10px;
    width: 50%;
}

.buttoncontainer {
    display: flex;
}

.appbutton {
    margin: 5px;
}

#restext {
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
}

#questionimage {
    width: 85%;
    border-radius: 10px;
}